## Observations and Insights

In [41]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [42]:
##### Extra Step #################################
##### Check the data for what it looks like ######
print(mouse_metadata.head(1))
print(study_results.head(1))

  Mouse ID Drug Regimen   Sex  Age_months  Weight (g)
0     k403     Ramicane  Male          21          16
  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0

In [43]:
# Combine the data into a single dataset
Drug_study_base_df = pd.merge(mouse_metadata, study_results, on="Mouse ID", how="outer" )
# Display the data table for preview
Drug_study_base_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [44]:
##### Extra Step ############################
# check that the outer did not have any "NaN"
print(Drug_study_base_df.count())

Mouse ID              1893
Drug Regimen          1893
Sex                   1893
Age_months            1893
Weight (g)            1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
dtype: int64

In [45]:
##### Extra Step ############################
# check column names
list(Drug_study_base_df.columns)

['Mouse ID',
 'Drug Regimen',
 'Sex',
 'Age_months',
 'Weight (g)',
 'Timepoint',
 'Tumor Volume (mm3)',
 'Metastatic Sites']

In [46]:
# Checking the number of mice.
print(Drug_study_base_df["Mouse ID"].nunique())

249

In [56]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
Drug_study_Count_df = Drug_study_base_df.groupby(['Mouse ID','Timepoint']).count()
# Drug_study_Count_df.dtypes
# Drug_study_Count_df.head()

                    Drug Regimen  Sex  Age_months  Weight (g)  \
Mouse ID Timepoint
a203     0                     1    1           1           1
         5                     1    1           1           1
         10                    1    1           1           1
         15                    1    1           1           1
         20                    1    1           1           1

                    Tumor Volume (mm3)  Metastatic Sites
Mouse ID Timepoint
a203     0                           1                 1
         5                           1                 1
         10                          1                 1
         15                          1                 1
         20                          1                 1

In [62]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
Drug_study_group_df = Drug_study_base_df.groupby(['Mouse ID','Timepoint'])
# Drug_study_group_df.head(2)

# THIS IS GOOD!
# ==> print([Drug_study_Count_df["Sex"] > 1])

# Get a loc working
Drug_study_group_df.loc[Drug_study_group_df['Sex'] > 1] 
# df.loc[df['shield'] > 35]


# Duplicate_mice_df = Drug_study_group_df.loc[Drug_study_Count_df["Sex"] > 1] 
# Duplicate_Mice.head()

AttributeError: 'DataFrameGroupBy' object has no attribute 'loc'

In [51]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [6]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen